# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE
.vscode/
.vs/
.idea/

# OS
.DS_Store
Thumbs.db

# Visual Studio / C# project files
*.sln
*.csproj
*.csproj.user
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.slnx
